<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Nova OS</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  </head>
<body>
  <div class="container">
    <div class="header"><div class="title">Nova Ordem de Serviço</div></div>
    <form action="/os" method="post">
  <label>Cliente:
    <select name="cliente.id">
      <option th:each="c : ${clientes}" th:value="${c.id}" th:text="${c.nome}"></option>
    </select>
  </label><br>
  <label>Técnico:
    <select name="tecnico.id">
      <option th:each="t : ${tecnicos}" th:value="${t.id}" th:text="${t.nome}"></option>
    </select>
  </label><br>
  <label>Serviço:
    <select name="servico.id">
      <option th:each="s : ${servicos}" th:value="${s.id}" th:text="${s.descricao}"></option>
    </select>
  </label><br>
  <label>Observações: <input type="text" name="observacoes"></label><br>
  <div class="actions">
    <button class="btn" type="submit">Criar</button>
    <a class="btn btn-secondary" href="/os">Voltar</a>
  </div>
    </form>
  </div>
</body>
</html>