<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Gestão de Serviços</title>
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
  <div class="app">
    <aside class="sidebar">
      <div class="logo"><div class="badge">GS</div><div class="name">GestãoOS</div></div>
      <nav class="menu">
        <a class="active" href="/">Dashboard</a>
        <a href="/tecnicos">Técnicos</a>
        <a href="/clientes">Clientes</a>
        <a href="/servicos">Serviços</a>
        <a href="/os">Ordens de Serviço</a>
      </nav>
    </aside>
    <main class="main">
      <div class="page-header">
        <div class="page-title">Dashboard</div>
        <div class="actions"><a class="btn" href="/os/nova">+ Nova OS</a></div>
      </div>

        <div class="cards">

            <div class="card">
                <div class="muted">Técnicos</div>
                <div class="big" th:text="${totalTecnicos}">0</div>
                <div class="muted">cadastrados</div>
            </div>

            <div class="card">
                <div class="muted">Clientes</div>
                <div class="big" th:text="${totalClientes}">0</div>
                <div class="muted">cadastrados</div>
            </div>

            <div class="card">
                <div class="muted">Serviços</div>
                <div class="big" th:text="${totalServicos}">0</div>
                <div class="muted">cadastrados</div>
            </div>

            <div class="card">
                <div class="muted">OS Abertas</div>
                <div class="big" th:text="${totalOrdens}">0</div>
                <div class="muted">ordens de serviço</div>
            </div>

        </div>

        <div class="panel">
            <h3>Ordens Recentes</h3>

            <div class="list-row"
                 th:each="ordem : ${ordensRecentes}">

                <div>

                    <div class="list-title"
                         th:text="${ordem.cliente.nome}">
                        Nome do cliente
                    </div>

                    <div class="muted">
                <span th:text="'OS-' + ${ordem.id}">
                    OS-001
                </span>

                        ·

                        <span th:text="${#temporals.format(ordem.dataCriacao, 'dd/MM/yyyy')}">
                    01/08/2026
                </span>
                    </div>

                </div>

                <div class="badge"
                     th:text="${ordem.status}">
                    PENDENTE
                </div>

            </div>
        </div>

    </main>
  </div>
</body>
</html>
